@model NV_BTModel
<form action="/NV_BT/UpdateSuaChua" method="post">
    <input type="hidden" name="MaNV" value="@Model.MaNV"/>
    <input type="hidden" name="MaTBC" value="@Model.MaTB"/>
    <input type="hidden" name="MaCHC" value="@Model.MaCH"/>
    <input type="hidden" name="LanThuC" value="@Model.LanThu"/>
    Mã Thiết Bị: <input type="text" name="MaTB" value="@Model.MaTB"/>
    Mã Căn Hộ: <input type="text" name="MaCH" value="@Model.MaCH"/>
    Lần sửa: <input type="text" name="LanThu" value="@Model.LanThu"/>
    Ngày Sửa: <input type="text" name="NgayBT" value="@Model.NgayBT"/>
    <input type="submit" value="Update" />
</form>
